.wrapper {
  padding: 22px 0 32px;
}

.row {
  display: flex;
  // padding: 2px 0;
  min-height: 20px;

  > div {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

.selected {
  > div {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
}

.line {
  font-family: "JetBrains Mono", monospace;
  flex-shrink: 0;
  width: 500px;
  padding-right: 45px;
  font-size: 13px;
}

.lineNo {
  width: 40px;
  text-align: right;
  padding: 0 12px;
  color: gray;
}

.polyCol {
  font-size: 12px;
  /* display: flex; */
  width: 220px;
  padding-left: 35px;
  word-break: break-all;
}

.whitespace {
  display: inline-block;
  width: 12px;
}

.colA {
  padding-left: 12px;
}
