.wrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  padding-left: 44px;
  padding-top: 42px;
}

.title {
}

.menuGroup {
  margin-top: 22px;
  margin-bottom: 24px;

  ul {
    display: flex;
    align-items: center;
  }

  button {
    padding: 5px;
    margin-right: 15px;
  }
}

.menu {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  p {
    margin-right: 12px;
  }
}
